/* normalize block of code. will tell, between browsers, what style applies to each sections. makes it the smae for different browsers */
html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

/* by default, when we have an element, the width we give toa  box (i.e.) is added by the border width, making the  element grow (same if we add padding). the below will add them to the inside of my element and shring the content inside of it, so we are in control of the width and height of our element*/
html { box-sizing: border-box;}

/* every   element on this page inherits the borderbox from our html = it´s only gonna grow if we say so*/
*, *:before, *:after {box-sizing: inherit}

/* collection of css properties that will thake any element and hide them visually, move them off the page. we do this if we want the content of the element to be there for assistive technology, but not to be there visually */
.sr-only, 
.sr-only:not(:focus):not(:active) { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}


/* CSS rules to specify families

font-family: 'East Sea Dokdo', cursive;
    
font-family: 'Roboto',
sans-serif; */

                
/* Dark
#201E21
32, 30, 33

Ocean blue
#0178A5
1, 120, 165

Barney purpple
#A7059B
167, 5, 155

Very light pink
#FFE9E9
255, 233, 233 */


/* std font-size will be 125% or 20px
 */
html {
    font-size: 125%;
}

img {
    max-width: 100%;
}

body,
section,
nav,
ul,
li,
a,
h1,
h2,
h3,
h4,
p,
button {
    margin: 0;
    padding: 0;
    font-family: 'East Sea Dokdo', cursive;
    color: #201E21;
}

.wrapper {
    max-width: 1280px;
    width: 90%;
    margin: 0 auto;
    /* border: black solid; */
};

h2,
h3 {
    line-height: 36px;
}

button,
nav,
a,
p {
    line-height: 29px;
}

h3,
button {
    text-align: center;
}

nav,
a,
p {
    font-family: 'Roboto', sans-serif;
    /* check if there´s a way to specify the difference, as navs are robotomedium and p´s are roboto regular, but the description is the same on google fonts (unless I didn´t check properly */
    letter-spacing: 0.2px;
    font-size: 20px;
}

nav,
a {
    font-weight: 500;
    text-decoration: none;
}

p {
    font-weight: 400;
}

h1 {
    font-size: 122px;
    line-height: 94.3px;
    /* text-align: right; this was the instruction, but I DONT GET IT, try to understand */
    text-align: left;
}

h2 {
    font-size: 75px;
    /* text-align not specified */
}

h3 {
    font-size: 55px;
}

h4 {
    font-size: 45px;
}

button {
    font-size: 45px;
    text-align: center;
    background-color: #0178A5;
    color: white;/* color: whould it be transparent? because the font color on all buttons does match the background color of the section/form; */    
    /* obs 2 - also, there is a second button, bg color pint with font color that linght pink already given */
    padding: 10px 20px;
}

ul {
    list-style: none;
}

/* HEADER STYLES */


header {
    background-image: url(./assets/header.png);
    background-size: cover;
    height: 800px;
    /* border: blue solid; */
}

.header {
    display: flex;
    flex-direction: column;
}

header ul {
    display: flex;
    justify-content: flex-start;
    list-style: none;
    padding-left: 0;
    margin-top: 30px;
}

header ul li a {
    text-decoration: none;
    padding-right: 50px;
}

h1 { 
    margin-top: 250px;
}

.headerIcons {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    /* border: purple solid; */
}

.headerIcons i {
    color: white;
}

.headerIcons ul li {
    margin-left: 20px;;
}

.divIcons {
    text-align: center;
    margin-right: -90px;
    /* margin-bottom: -100px; */
    margin-top: 170px;
    background-color: orange;
}


/* SECTION ´NEW´ STYLES */
.new {
    background-color: #FFE9E9;
    /* border: blue solid; */
}

.newContainer {
    display: flex;
    height: 400px;
    align-content: center;
    
}

.newContainer img {
    padding: 60px 0;
    margin-top: -20px;
    height: 450px;
    
}

.newText {
    padding: 40px 0 40px 50px;
    margin-top: -20px;
}

/* SECTION ´LATEST´ STYLES */
.latest {
    background-color: #F7DAE8;
    height: 700px;
    /* border: blue solid; */
}

.latest h2 {
    text-align: center;
    padding-top: 90px;
}

.latestPaintings ul {
    display: flex;
    list-style: none;
}

.latestPaintings ul li {
    padding: 60px 40px 30px 0px;
}

/* SECTION ´ICONS´ STYLES */
.iconsSection {
    background-color: #FFE9E9;
    height: 300px;
    /* border: blue solid; */
}         

.icon {
    font-size: 80px;
    margin-bottom: 20px;
}

.flexIcons div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flexIcons {
    display: flex;
    justify-content: space-evenly;
    color:#0178A5;
    align-items: center;
    height: 299px;
}


/* SECTION ´FINDING + ALL KIND OF PAINTS` STYLES */
.blog {
    background-color: #F7DAE8;/* REMOVE AFTER EVERYTHING DONE, this is just for me to see space section is taking */
    /* border: blue solid; */
    height: 1010px;
    /* display: flex; */
}

.row {
    display: flex;
    flex-direction: row-reverse;
    margin: 0;
    padding-top: 0;
}
.rowTwo {
    flex-direction:row;
    margin-top: -7px;
}

.purpleButton {
    background-color: #A7059B;
}

.text {
    width: 50%;
    padding: 70px 70px;
}

.text p {
    /* margin: 10px 0; */
}

.image {
    width: 50%;    
}

/* FOOTER STYLES */

footer {
    background-color: #FFE9E9;
    height: 350px;
}

.footer h3 {
    padding-top: 80px;
}

.flexFooter {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footerLinks {
    text-align: left;
    display: flex;
    flex-direction: column;
    width: 260px;
}

.footerMiddle {
    text-align: center;
    /* display: flex;
    flex-direction: column; */
    width: 500px;
    /* margin-right: -300px; */
}

.formAndButton {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.myForm {
    /* width: 100%; */
}

input {
    width: 75%;
    padding: 0 60px 20px 60px; 
}

.footerContact {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 320px;
}

/* MEDIA QUERIES */


@media (max-width: 940px) {
    body {
        flex-direction: column;
    }
}

/* OBS: I tried different media queries without success. I thought I knew how to use media queries, but I realized I don´t. I will study and take part on Sunday´s alumni hours, as well as schedule a one-o-one session to make sure I know how to use media queries before the break. I should have done it before the due date of this first assignment, but naively thought I would figure it out by myself in time. I didn´t. There are other areas for improvement as well, such as forms. Thank you. */